source "proxmox" "opnsense" {
  # ============================
  # Proxmox Connection Settings
  # ============================
  proxmox_url              = "{{ proxmox_api_url }}"
  username                 = "{{ proxmox_api_token_id }}"
  token                    = "{{ proxmox_api_token_secret }}"
  insecure_skip_tls_verify = {{ proxmox_api_insecure | default(true) | string | lower }}

  # ============================
  # General Settings
  # ============================
  node       = "{{ opnsense_tpl_node }}"
  vm_id      = "{{ opnsense_tpl_id }}"
  vm_name    = "{{ opnsense_tpl_name | default('opnSense-tpl') }}"
  qemu_agent = {{ opnsense_tpl_agent | default(false) | string | lower }}

  # ============================
  # ISO Settings
  # ============================  
  iso_file    = "{{ opnsense_tpl_iso }}"
  unmount_iso = {{ opnsense_tpl_iso_unmount | default(true) | string | lower }}

  # ============================
  # Resource Settings
  # ============================
  cores  = "{{ opnsense_tpl_cpu_cores | default(2) }}"    # Minimum cpu requirement as per the official doc
  memory = "{{ opnsense_tpl_memory | default(2048) }}" # Minimum ram requirement as per the official doc

  # ============================
  # Disk Settings
  # ============================
  scsi_controller = "{{ opnsense_tpl_scsihw | default('virtio-scsi-pci') }}"
  {% for disk in opnsense_tpl_disks %}
  disks {
    disk_size         = "{{ disk.size | default('16G') }}"
    storage_pool      = "{{ disk.storage_pool }}"
    storage_pool_type = "{{ disk.storage_pool_type }}"
  }
  {% endfor %}

  # =============================================
  # NETWORK (lan first, wan second)
  # =============================================
  {% for nic in opnsense_tpl_networks %}
  network_adapters {
    bridge   = "{{ nic.bridge }}"
    firewall = {{ nic.firewall | default(false) | string | lower }}
    model    = "{{ nic.model | default('virtio') }}"
  }
  {% endfor %}

  # ============================
  # Boot Settings
  # ============================
  boot      = "{{ opnsense_tpl_boot_order | default('c') }}"
  boot_wait = "{{ opnsense_tpl_boot_wait | default('180s') }}"
  boot_command = [
    # Log in as the 'installer' user
    "installer", "<enter>",
    "<wait1>",

    # With the 'opnsense' password
    "opnsense", "<enter>",
    "<wait1>",

    # Continue with default keymap
    "<enter>",
    "<wait1>",

    # Insall (ZFS)
    "<down>", "<wait1>", "<enter>", "<wait5>",
    "<wait1>",

    # Select 'Stripe'
    "<enter>",
    "<wait1>",

    # Select 'da0' disk
    "<spacebar>", "<wait1>", "<enter>",
    "<wait1>",

    # Confirm selection
    "<left>", "<wait1>", "<enter>",

    # Wait for OS install
    "<wait60>",

    # Select 'Root Password"
    "<enter>",
    "<wait1>",

    # Set root password
    "{{ opnsense_tpl_root_pass }}", "<wait1>", "<enter>",
    "<wait1>",

    # Confirm password
    "{{ opnsense_tpl_root_pass }}", "<wait1>", "<enter>",
    "<wait1>",

    # Select 'Complete Install'
    "<down>", "<wait1>", "<enter>",
    "<wait1>",
    "<leftCtrlOn>c<leftCtrlOff>",
    "root", "<enter>",
    "<wait1>",
    "opnsense", "<enter>",
    "<wait1>",
    "8", "<enter>",
    "<wait1>",
    "echo 'openssh_enable=\"YES\"' >> /mnt/usr/local/etc/rc.conf", "<enter>",
    "<wait1>",
    "echo 'openssh_enable=\"YES\"' >> /mnt/etc/rc.conf", "<enter>",
    "<wait1>",
    "sed -i '' 's/<ssh>/<ssh>\\n\\t\\t<enabled>enabled<\\/enabled>/g' /mnt/conf/config.xml", "<enter> ",
    "<wait1>",
    "sed -i '' 's/<ssh>/<ssh>\\n\\t\\t<permitrootlogin>1<\\/permitrootlogin>/g' /mnt/conf/config.xml", "<enter> ",
    "<wait1>",
    "sed -i '' 's/<ssh>/<ssh>\\n\\t\\t<passwordauth>1<\\/passwordauth>/g' /mnt/conf/config.xml", "<enter> ",
    "<wait1>",
    "sed -i '' 's/<ssh>/<ssh>\\n\\t\\t<noauto>1<\\/noauto>/g' /mnt/conf/config.xml", "<enter> ",
    "<wait1>",
    "sed -i '' 's/<ssh>/<ssh>\\n\\t\\t<interfaces \\/>/g' /mnt/conf/config.xml", "<enter> ",
    "<wait1>",
    "sed -i '' 's/192.168.1.1/192.168.69.1/g' /mnt/conf/config.xml", "<enter> ",
    "<wait1>",
  ]

  ssh_username = "root"
  communicator = "none"
}

build {
  name    = "opnsense-22.7"
  sources = ["source.proxmox.opnsense"]
}